@model IEnumerable<Presentation.Models.ViewModels.EventListViewModel>

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<p>
    <a asp-action="Create">Create New Event</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Public)</th>
            <th>@Html.DisplayNameFor(model => model.MaximumTickets)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Public)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.FilePath))
                    {
                        <img src="@item.FilePath" alt="Event Image" style="max-width: 100px; max-height: 100px;"/>
                    }
                    else
                    {
                        <span>No file</span>
                    }
                <td>@Html.DisplayFor(modelItem => item.MaximumTickets)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a href="/Tickets/Buy/@item.Id" class="btn btn-warning">Buy</a>
                </td>
            </tr>
        }
    </tbody>
</table>
